services:
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    restart: unless-stopped

    # Injeta as variáveis do .env diretamente no container
    env_file:
      - ../.env

    # Remova a seção environment! O container vai ler TUNNEL_TOKEN direto do env_file.
    
    command: tunnel run

    networks:
      - proxy

networks:
  proxy:
    external: true