services:
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    restart: unless-stopped

    # Importa as variáveis do arquivo .env (que está 2 pastas acima)
    env_file:
      - ../../.env

    # Passa o token para o container
    environment:
      - TUNNEL_TOKEN=${CLOUDFLARED_TOKEN}

    # O comando fica limpo, sem expor a senha
    command: tunnel run

    networks:
      - proxy

networks:
  proxy:
    external: true