services:
  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: unless-stopped

    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /data/apps/portainer:/data

    networks:
      - proxy

networks:
  proxy:
    external: true
