services:
  nginx:
    image: nginx:stable
    container_name: nginx
    restart: unless-stopped

    ports:
      - "80:80"

    volumes:
      - ./conf.d:/etc/nginx/conf.d:ro
      - ./html:/usr/share/nginx/html:ro

    networks:
      - proxy

networks:
  proxy:
    external: true
