services:
  demo-nginx:
    image: nginx:stable
    container_name: demo-nginx
    restart: unless-stopped

    volumes:
      - ./html:/usr/share/nginx/html:ro

    networks:
      - proxy

networks:
  proxy:
    external: true
